extends base


block content
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}

        // todo - formulario aqui

        //todo listado de pendientes

        // Acciones que se pueden realizar

        .contenedor-acciones
            a(href=`/proyecto/editar/${proyecto.id}`).boton Editar Proyecto
            button#eliminar-proyecto(data-proyecto-url=proyecto.url type='button' ).boton.eliminar Eliminar Proyecto

